<div class="container py-4">
    <div class="row">
        <div class="col-md-5">
            <div class="container-image">
                <img src="{{urlImage}}/{{objProducto.imageUrl}}">
            </div>
        </div>
        <div class="col-md-7 border card p-4">
            <div class="d-flex justify-content-between">
                <p class="fw-light">{{category}}</p>
                <button mat-icon-button color="warn" matTooltip="Agregar a favoritos">
                    <mat-icon>favorite_border</mat-icon>
                </button>
            </div>
            <h1><b>{{objProducto.title | uppercase}}</b></h1>
            <p class="h5">
                {{objProducto.description}}
            </p>
            <p class="h3">
                <b class="text-muted fst-normal txt-red">{{objProducto.precio |
                    currency:'MXN':'symbol-narrow':'.2-2'}}</b>
            </p>
            
            <div class="d-flex justify-content-between">
                <p>
                    <span class="fw-light">Talla: </span>
                    <b>
                        <container-element [ngSwitch]="objProducto.talla">
                            <b *ngSwitchCase="'xl'">Extra grande</b>
                            <b *ngSwitchCase="'l'">Grande</b>
                            <b *ngSwitchCase="'m'">Mediana</b>
                            <b *ngSwitchCase="'s'">Chica</b>
                            <b *ngSwitchCase="'xs'">Extra chica</b>
                        </container-element>
                    </b>
                </p>
                <p>Existencia: <b>{{objProducto.existencia}}</b></p>
            </div>
                    <mat-form-field class="form-full mb-2">
                        <mat-label>Cantidad</mat-label>
                        <input matInput min="1" [value]="cantidad" #cant (change)="setCantidad(cant)" value="1" placeholder="Cantidad a comprar"
                            type="number" required />
                    </mat-form-field>
            <div class="row">
                <div class="col-md-6">
                    <button mat-raised-button (click)="comprarAhora()" class="k-btn-pry-red form-full">
                        <mat-icon>payment</mat-icon>
                        Comprar ahora
                    </button>
                </div>
                <div class="col-md-6">
                    <button mat-stroked-button (click)="agregarAlCarrito()" class="k-btn-pry-dark form-full">
                        <mat-icon>shopping_cart</mat-icon>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>