<div class="container py-4">
    <div class="row">
        <div class="col-md-3">
            <div class="container-image" matTooltip="Cambiar foto perfil">
                <img style="cursor: pointer" src="../../../assets/resources/perfilimagen.png">
            </div>
        </div>
        <div class="col-md-9">
            <p class="h4">
                Mi perfil
            </p>
            <mat-divider></mat-divider>
            <br>
            <p class="h5">Datos de la cuenta</p>
            <div class="shadow card card-profile">
                <div class="row">
                    <div class="col-md-9 as-center">
                        Correo electrónico: <b>henryalejandro@gmail.com</b>
                    </div>
                    <div class="col-md-3">
                        <button mat-raised-button class="k-btn-pry-dark form-full">
                            <mat-icon>edit</mat-icon>
                            Actualizar
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="shadow card card-profile">
                <div class="row">
                    <div class="col-md-9 as-center">
                        Contraseña: <b>hcjkdhsjk</b>
                    </div>
                    <div class="col-md-3">
                        <button mat-raised-button class="k-btn-pry-dark form-full">
                            <mat-icon>edit</mat-icon>
                            Cambiar
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="shadow card card-profile" (click)="routerLink('/home/profile/direcciones')" style="cursor: pointer">
                <div class="d-flex justify-content-between">
                    <div class="as-center">
                        Ir a mis direcciones
                    </div>
                    <div>
                        <button mat-icon-button >
                            <mat-icon>arrow_forward_ios</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <p class="h5">Datos personales</p>
            <div class="shadow card p-4">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="form-full">
                            <mat-label>Nombre</mat-label>
                            <input matInput disabled value="HENRY" placeholder="Nombre" type="text" required />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="form-full">
                            <mat-label>Apellidos</mat-label>
                            <input matInput placeholder="Apellidos" type="text" required />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <!-- <div class="col-md-6">
                    <button mat-raised-button class="k-btn-pry-red form-full">
                        <mat-icon>payment</mat-icon>
                        Guardar
                    </button>
                </div> -->
                <div class="col-md-4">
                    <button mat-stroked-button class="k-btn-pry-red form-full">
                        <mat-icon>save</mat-icon>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>