.card-profile {
  padding: 1.1rem 2.5rem;
}

.container-img {
  background-color: #e6e6e6;
  border-radius: 6px;
  border: solid #c8c8c8 3px;
  border-style: dotted;
  margin-bottom: 1rem;
  img {
    width: 100%;
  }
}
