<main class="login-page bg-light">
  <section class="login-body">
    <section class="login-logo">
      <a [routerLink]="['/home']" style="cursor: pointer"><img src="../../../assets/resources/image-logo.jpeg"
          alt="" /></a>
    </section>
    <section class="login-container shadow-lg">
      <form [formGroup]="form">
        <section class="card" style="border: none;">
          <header class="title-card">
            <h1>Restablecer contraseña</h1>
          </header>
          <mat-divider></mat-divider>
          <section class="card-form">
            <div class="form-password">
              <mat-form-field appearance="outline" class="form-full">
                <mat-label>Contraseña</mat-label>
                <input matInput (keyup)="validaPwds()" matInput [type]="clear ? 'text' : 'password'"
                  formControlName="password" placeholder="Ingrese su contraseña" />
                <mat-icon class="puntero" (click)="clear = !clear" matSuffix [color]="clear ? 'primary' : ''">
                  {{ clear ? "visibility" : "visibility_off" }}
                </mat-icon>
                <mat-error *ngIf="form.controls['password'].errors?.['required']">Campo
                  requerido</mat-error>
                <mat-error *ngIf="form.controls['password'].errors?.['pattern']">La
                  contraseña debe contener al menos 8 caracteres, una mayúscula, una
                  minúscula y un número</mat-error>
              </mat-form-field>
            </div>
            <div class="form-password">
              <mat-form-field appearance="outline" class="form-full">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput (keyup)="validaPwds()" matInput [type]="clearConfirm ? 'text' : 'password'"
                  formControlName="password2" placeholder="Confirme su contraseña" />
                <mat-icon class="puntero" (click)="clearConfirm = !clearConfirm" matSuffix
                  [color]="clearConfirm ? 'primary' : ''">
                  {{ clearConfirm ? "visibility" : "visibility_off" }}
                </mat-icon>
                <mat-error *ngIf="form.controls['password2'].errors?.['required']">Campo
                  requerido</mat-error>
              </mat-form-field>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="!pwdsCoinciden && pwdsValue">
              Las contraseñas no coinciden!
            </div>
          </section>
          <section class="action">
            <button (click)="restablecer()" class="k-btn-primary k-btn-pry-pink" mat-flat-button [disabled]="form.invalid">
              <span class="spinner-border spinner-border-sm" role="status" *ngIf="loading"></span>
              Restablecer
            </button>
          </section>
          <div class="forgot-psw text-center">
            <a [routerLink]="['/home']">Iniciar sesión</a>
          </div>
        </section>
      </form>
    </section>
  </section>
</main>