<div class="container my-4">
  <p class="h4 text-center fw-bold">Preguntas frecuentes</p>

  <div class="row py-4">
    <div class="col-md-6">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne">
              ¿Se puede solicitar un reembolso?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              Las prendas vendidas no pueden ser devueltas, a menos que tengan algún desperfecto desde la venta
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo">
              ¿Cuánto tiempo se tarda en entregar un pedido por mayoreo?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              Los pedidos a mayoreo, varían en tiempo dependiendo en los diseños solicitados y la cantidad de prendas
              que se requieran.Las prendas son elaboradas a mano por costureros, es por eso que el tiempo puede variar
              en base a los puntos mencionados.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseThree">
              ¿Cómo puedo realizar una compra?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              Puede acceder a cualquiera de las categorías que sea de su agrado, en la cual se le indicara los modelos
              disponibles y las descripciones correspondientes de cada uno.De esa manera puede seleccionar el producto
              de su agrado, registrarse o iniciar sesión y realizar la compra de su prenda.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseFour">
              ¿Para comprar debo registrarme?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
              Si, para poder continuar con el proceso de compra es necesario que se registre con una cuenta de correo
              existente y cumpla con los requisitos de registro.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseFive">
              ¿Cómo puedo recuperar mi contraseña?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
              En el apartado del login, al no poder acceder, se puede solicitar la recuperación de contraseña, de esta
              manera se solicitará el correo electrónico con el cual está registrado y se enviará un link a ese mismo,
              en el cual debe acceder y colocar los datos de su nueva contraseña, de esta manera podrá iniciar sesión
              normalmente con la nueva contraseña generada.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseSix">
              ¿Los diseños son realizados a mano o con maquina?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingSix">
            <div class="accordion-body">
              Los diseños de las prendas son realizados a mano por costureros, es un trabajo artesanal.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>