<main class="login-page bg-light">
  <section class="login-body">
    <section class="login-logo">
      <a [routerLink]="['/home']" style="cursor: pointer"><img src="../../../assets/resources/image-logo.jpeg" alt="" /></a>
    </section>
    <section class="login-container shadow-lg">
      <section class="card b-nn">
        <header class="title-card">
          <h1>Restablecer contraseña</h1>
        </header>
        <mat-divider></mat-divider>
        <form [formGroup]="form">
          <section class="card-form">
            <div class="form-usuario">
              <mat-form-field appearance="outline" class="form-full">
                <mat-label>Correo electrónico</mat-label>
                <input matInput formControlName="email" placeholder="Ingrese su correo electrónico" type="email"
                  required />
                <mat-error *ngIf="form.controls['email'].errors?.['required']">Correo electrónico requerido</mat-error>
                <mat-error *ngIf="form.controls['email'].errors?.['email']">Correo electrónico no válido</mat-error>
              </mat-form-field>
            </div>
          </section>
        </form>
        <section class="action">
          <button (click)="validateEmail()" class="k-btn-primary k-btn-pry-pink" mat-flat-button [disabled]="form.invalid">
            <span class="spinner-border spinner-border-sm" role="status" *ngIf="loading"></span>
            Restablecer
          </button>
        </section>
        <div class="forgot-psw text-center">
          <a [routerLink]="['/home/login']">Iniciar sesión</a>
        </div>
      </section>
    </section>
  </section>
</main>