.input-search {
  min-width: 100px;
  max-width: 320px;
}

.div-search {
  margin-right: 2rem;
  margin-left: 2rem;
}

.navbar {
    flex-wrap: revert;
}

@media (max-width: 600px) {
  .div-search {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
