<main class="login-page bg-light">
  <section class="login-body">
    <section class="login-logo">
      <a [routerLink]="['/home']" style="cursor: pointer"><img src="../../../assets/resources/image-logo.jpeg"/></a>
    </section>
    <section class="login-container shadow-lg">
      <form [formGroup]="form" (ngSubmit)="login()">
        <section class="card" style="border: none;">
          <header class="title-card">
            <h1>Iniciar sesión</h1>
          </header>
          <mat-divider></mat-divider>
          <section class="card-form">
            <div class="form-usuario">
              <mat-form-field appearance="outline" class="form-full">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="email" placeholder="Ingrese su correo electrónico" #inputUsuario
                  type="email" />
              </mat-form-field>
            </div>
            <div class="form-password">
              <mat-form-field appearance="outline" class="form-full">
                <mat-label>Contraseña</mat-label>
                <input matInput #pass matInput [type]="clear ? 'text' : 'password'" formControlName="password"
                  placeholder="Ingrese su contraseña" />
                <mat-icon class="puntero" (click)="clear = !clear" matSuffix [color]="clear ? 'primary' : ''">
                  {{ clear ? "visibility" : "visibility_off" }}
                </mat-icon>
              </mat-form-field>
              <div class="forgot-psw text-center">
                <a [routerLink]="['/home/forgot-pwd']">¿Olvidaste tu contraseña?</a>
              </div>
            </div>
          </section>
          <section class="action">
            <button type="submit" class="k-btn-primary k-btn-pry-pink" mat-flat-button>
              <span class="spinner-border spinner-border-sm" role="status" *ngIf="loading"></span>
              Iniciar sesión
            </button>
          </section>
          <div class="forgot-psw text-center">
            <span class="text-dark">¿No tienes una cuenta? </span>
            <a [routerLink]="['/home/singup']">Registrate</a>
          </div>
        </section>
      </form>
    </section>
  </section>
</main>