<div class="pb-4">
  <!-- <p class="text-center p-2 fw-bold">BIENVENIDO</p> -->
  <app-carrusel></app-carrusel>

  <div class="container">
    <div class="py-4">
      <p class="h5 col-md-12 text-right fw-bold py-2">
        Dama
        <button type="button" (click)="viewListCategories('woman')" class="mx-4 btn btn-dark">Ver todas las categorías...</button>
      </p>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 pb-4">
        <div class="col" *ngFor="let catWoman of categoriesWoman">
          <div class="card h-100 shadow hover-shadow">
            <div class="container-image border-bottom">
              <img src="{{urlImage}}/{{catWoman.imageUrl}}">
            </div>
            <div class="card-body">
              <p class="h5 text-center fw-bold pt-4">{{catWoman.name}}</p>
              <p class="h6 text-center fw-light text-truncate">{{catWoman.description}}</p>
            </div>
            <div class="card-footer mt-2 d-flex justify-content-center">
              <button (click)="verCategoria(catWoman)" class="btn btn-danger my-2">Ver categoría</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="container">
    <div class="py-4">
      <p class="h5 col-md-12 text-right fw-bold py-2">
        Caballero
        <button type="button" (click)="viewListCategories('man')" class="mx-4 btn btn-dark">Ver todas las categorías...</button>
      </p>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 pb-4">
        <div class="col" *ngFor="let catMan of categoriesMan">
          <div class="card h-100 shadow hover-shadow">
            <div class="container-image border-bottom">
              <img src="{{urlImage}}/{{catMan.imageUrl}}">
            </div>
            <div class="card-body">
              <p class="h5 text-center fw-bold pt-4">{{catMan.name}}</p>
              <p class="h6 text-center fw-light text-truncate">{{catMan.description}}</p>
            </div>
            <div class="card-footer mt-2 d-flex justify-content-center">
              <button (click)="verCategoria(catMan)" class="btn btn-danger my-2">Ver categoría</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>