<div class="container my-4">
    <div class="fw-light">
        <p style="text-align: center;"><strong>T&eacute;rminos y Condiciones de SportStore</strong></p>
        <p><br></p>
        <p style="text-align: justify;"><strong>T&eacute;rminos generales</strong></p>
        <p style="text-align: justify;">Al acceder y realizar un pedido con SportStore, usted confirma que est&aacute;
            de acuerdo y sujeto a los t&eacute;rminos de servicio contenidos en los T&eacute;rminos y condiciones que se
            describen a continuaci&oacute;n. Estos t&eacute;rminos se aplican a todo el sitio web y a cualquier correo
            electr&oacute;nico u otro tipo de comunicaci&oacute;n entre usted y SportStore.</p>
        <p style="text-align: justify;">Bajo ninguna circunstancia el equipo de SportStore ser&aacute; responsable de
            ning&uacute;n da&ntilde;o directo, indirecto, especial, incidental o consecuente, que incluye, entre otros,
            la p&eacute;rdida de datos o ganancias que surjan del uso o la incapacidad de usar, los materiales de este
            sitio, incluso si el equipo de SportStore o un representante autorizado han sido informados de la
            posibilidad de tales da&ntilde;os. Si su uso de materiales de este sitio resulta en la necesidad de
            servicio, reparaci&oacute;n o correcci&oacute;n de equipos o datos, usted asume los costos de los mismos</p>
        <p style="text-align: justify;">SportStore no ser&aacute; responsable de ning&uacute;n resultado que pueda
            ocurrir durante el curso del uso de nuestros recursos. Nos reservamos el derecho de cambiar los precios y
            revisar la pol&iacute;tica de uso de recursos en cualquier momento</p>
        <p style="text-align: justify;">Estos t&eacute;rminos y condiciones rigen el uso del sitio web
            sportstore.proyectowebuni.com y los servicios relacionados ofrecidos por SportStore (&quot;Nosotros&quot;,
            &quot;Nuestro&quot;, &quot;Nosotros&quot;). Al acceder o utilizar el Sitio, aceptas estar legalmente
            vinculado por estos T&eacute;rminos. Si no est&aacute;s de acuerdo con alguno de estos T&eacute;rminos, no
            utilices el Sitio.</p>
        <p style="text-align: justify;"><br></p>
        <p style="text-align: justify;"><strong>Uso del Sitio</strong></p>
        <p style="text-align: justify;">1.1 Edad m&iacute;nima: Debes tener al menos 18 a&ntilde;os de edad o contar con
            el consentimiento de un padre o tutor legal para utilizar este Sitio.</p>
        <p style="text-align: justify;">1.2 Informaci&oacute;n precisa: Aceptas proporcionar informaci&oacute;n precisa,
            actualizada y completa al registrarte en el Sitio o realizar una compra. Nos reservamos el derecho de
            suspender o cancelar tu cuenta si la informaci&oacute;n proporcionada es falsa, inexacta o incompleta.</p>
        <p style="text-align: justify;">1.3 Acceso seguro: Eres responsable de mantener la confidencialidad de tu cuenta
            y contrase&ntilde;a, y aceptas que eres responsable de todas las actividades que ocurran bajo tu cuenta.</p>
        <p style="text-align: justify;">1.4 Uso permitido: El uso del Sitio est&aacute; sujeto a las leyes y
            regulaciones aplicables. No podr&aacute;s utilizar el Sitio con fines il&iacute;citos o no autorizados.
            Adem&aacute;s, aceptas no interferir ni interrumpir el funcionamiento del Sitio.</p>
        <p style="text-align: justify;"><br></p>
        <p style="text-align: justify;"><strong>Productos y Pedidos</strong></p>
        <p style="text-align: justify;">2.1 Descripciones de productos: Nos esforzamos por proporcionar descripciones
            precisas de nuestros productos. Sin embargo, no garantizamos que las descripciones sean completas,
            confiables, actualizadas o libres de errores. Si un producto no coincide con su descripci&oacute;n, tu
            &uacute;nico recurso es devolverlo de acuerdo con nuestra pol&iacute;tica de devoluciones.</p>
        <p style="text-align: justify;">2.2 Precios y pagos: Todos los precios est&aacute;n en pesos mexicanos y se
            muestran sin incluir impuestos y gastos de env&iacute;o, a menos que se indique lo contrario. Nos reservamos
            el derecho de cambiar los precios en cualquier momento sin previo aviso. Aceptas pagar todos los cargos
            asociados con tu pedido y ser responsable de cualquier impuesto aplicable.</p>
        <p style="text-align: justify;">2.3 Disponibilidad: La disponibilidad de los productos est&aacute; sujeta a
            cambios sin previo aviso. Nos reservamos el derecho de limitar la cantidad de productos que puedes adquirir.
            Si un producto no est&aacute; disponible despu&eacute;s de haber realizado tu pedido, te notificaremos y
            podr&aacute;s cancelar o modificar tu pedido.</p>
        <p style="text-align: justify;">2.4 Env&iacute;o: Realizaremos esfuerzos razonables para enviar los productos
            dentro del plazo especificado. Sin embargo, no garantizamos la entrega en un plazo determinado y no seremos
            responsables de cualquier retraso en la entrega.</p>
        <p><br></p>
        <p><strong>Pol&iacute;tica de Devoluciones</strong></p>
        <p style="text-align: justify;">3.1 Devoluciones: Aceptamos devoluciones dentro de los [d&iacute;as] d&iacute;as
            posteriores a la recepci&oacute;n del producto, siempre que cumpla con nuestras condiciones de
            devoluci&oacute;n. Debes comunicarte con nuestro servicio de atenci&oacute;n al cliente para obtener
            instrucciones sobre c&oacute;mo devolver el producto.</p>
        <p style="text-align: justify;">3.2 Estado del producto: Los productos devueltos deben estar sin usar, en su
            estado original y con todas las etiquetas y embalajes originales. Nos reservamos el derecho de rechazar
            cualquier devoluci&oacute;n que no cumpla con estas condiciones.</p>
        <p style="text-align: justify;">3.3 Reembolsos: Una vez que recibamos y verifiquemos el producto devuelto,
            emitiremos un reembolso dentro de los [d&iacute;as] d&iacute;as h&aacute;biles. El reembolso se
            realizar&aacute; utilizando el mismo m&eacute;todo de pago utilizado para la compra original, a menos que se
            acuerde lo contrario.</p>
        <p><br></p>
        <p><strong>Propiedad Intelectual</strong></p>
        <p style="text-align: justify;">4.1 Derechos de autor: Todo el contenido del Sitio, incluidos textos,
            gr&aacute;ficos, logotipos, im&aacute;genes, videos y software, est&aacute; protegido por derechos de autor
            y otras leyes de propiedad intelectual. No puedes copiar, reproducir, distribuir o crear trabajos derivados
            sin nuestro permiso expl&iacute;cito.</p>
        <p><br></p>
        <p><strong>Limitaci&oacute;n de Responsabilidad</strong></p>
        <p style="text-align: justify;">5.1 Exenci&oacute;n de responsabilidad: En la m&aacute;xima medida permitida por
            la ley, SportStore no ser&aacute; responsable de ning&uacute;n da&ntilde;o directo, indirecto, incidental,
            especial o consecuente que surja del uso o la imposibilidad de uso del Sitio o de los productos adquiridos a
            trav&eacute;s del Sitio.</p>
        <p><br></p>
        <p><strong>Modificaciones</strong></p>
        <p style="text-align: justify;">6.1 Cambios en los T&eacute;rminos: Nos reservamos el derecho de modificar estos
            T&eacute;rminos en cualquier momento sin previo aviso. Los cambios entrar&aacute;n en vigencia a partir de
            su publicaci&oacute;n en el Sitio. Es tu responsabilidad revisar peri&oacute;dicamente los T&eacute;rminos
            actualizados. El uso continuado del Sitio despu&eacute;s de cualquier modificaci&oacute;n constituir&aacute;
            tu aceptaci&oacute;n de los T&eacute;rminos modificados.</p>
        <p><br></p>
        <p><strong>Ley Aplicable</strong></p>
        <p style="text-align: justify;">7.1 Legislaci&oacute;n aplicable: Estos T&eacute;rminos se regir&aacute;n e
            interpretar&aacute;n de acuerdo con las leyes de M&eacute;xico. Cualquier disputa que surja de estos
            T&eacute;rminos estar&aacute; sujeta a la jurisdicci&oacute;n exclusiva de los tribunales de M&eacute;xico.
        </p>
        <p style="text-align: justify;">Gracias por leer y aceptar nuestros T&eacute;rminos y Condiciones. Si tienes
            alguna pregunta o inquietud, no dudes en ponerte en contacto con nuestro servicio de atenci&oacute;n al
            cliente a trav&eacute;s del correo <a href="mailto:sportstore96@gmail.com">sportstore96@gmail.com</a>.</p>
        <p><br></p>
        <p style="text-align: right;">&Uacute;ltima actualizaci&oacute;n: 2023-07-06</p>
    </div>
</div>