<header class="d-flex justify-content-between align-self-center align-items-center py-2 px-4">
    <span>Cerrar sesión</span>
    <button mat-icon-button mat-dialog-close>
        <mat-icon class="close-icon btn-close-modal">close</mat-icon>
    </button>
</header>
<mat-divider></mat-divider>
<p class="p-4 text-center">¿Está seguro de cerrar sesión?</p>
<footer class="d-flex justify-content-between align-self-center align-items-center p-4">
    <button class="k-btn-primary k-btn-pry-gray" mat-flat-button>
        <mat-icon>cancel</mat-icon>
        Cancelar</button>
    <button class="k-btn-primary k-btn-pry-blue" tabindex="1" mat-flat-button>
        <mat-icon>cancel</mat-icon>Confirmar</button>
</footer>