<div class="container my-4">
    <div class="fw-light">
        <p style='text-align: center;font-weight: bold;'>AVISO DE PRIVACIDAD INTEGRAL</p><br /><br />
        <p>SportStore, con domicilio en Calle Benito Juárez S/N, Colonia centro, Huejutla, Huejutla, CP. 43000,
            Hidalgo, México, es el responsable del tratamiento de los datos personales que nos proporcione, los cuales
            serán protegidos conforme a lo dispuesto por la Ley General de Protección de Datos Personales en Posesión de
            Sujetos Obligados, y demás normatividad que resulte aplicable.</p><br />
        <p style='font-weight: bold;'>¿Qué datos personales solicitamos y para qué fines?</p>
        <p>Los datos personales que solicitamos los utilizaremos para las siguientes finalidades: </p><br />
        <div align='center'>
            <table id='tblFinalidades' border='1' width='50%'>
                <tr>
                    <td rowspan='2'>
                        <div align='center' style='font-weight: bold;'>Finalidad</div>
                    </td>
                    <td colspan='2'>
                        <div align='center' style='font-weight: bold;'>¿Requieren consentimiento del titular?</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align='center' style='font-weight: bold;'>NO</div>
                    </td>
                    <td>
                        <div align='center' style='font-weight: bold;'>SI</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align='center'>Crear una cuenta de usuario</div>
                    </td>
                    <td>
                        <div align='center'>&nbsp;</div>
                    </td>
                    <td>
                        <div align='center'>X</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align='center'>Realizar pedidos en línea</div>
                    </td>
                    <td>
                        <div align='center'>&nbsp;</div>
                    </td>
                    <td>
                        <div align='center'>X</div>
                    </td>
                </tr>
            </table>
        </div><br />
        <p>Si no desea que sus datos personales se utilicen para las finalidades que requieren de su consentimiento,
            podrá manifestarlo a continuación: </p>
        <p>No consiento que mis datos personales se utilicen para los siguientes fines: </p>
        <ul>
            <li>Crear una cuenta de usuario &#9634;</li>
            <li>Realizar pedidos en línea &#9634;</li>
        </ul><br />
        <p>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, se solicitarán los
            siguientes datos personales: </p>
        <ul>
            <li>Nombre</li>
            <li>Domicilio</li>
            <li>Teléfono particular</li>
            <li>Teléfono celular</li>
            <li>Correo electrónico</li>
            <li>Número de tarjeta de crédito</li>
        </ul>
        <p>Se informa que no se solicitarán datos personales sensibles.</p><br />
        <p style='font-weight: bold;'>¿Con quién compartimos su información personal y para qué fines?</p>
        <p>Se informa que no se realizarán transferencias de datos personales, salvo aquéllas que sean necesarias para
            atender requerimientos de información de una autoridad competente, que estén debidamente fundados y
            motivados.</p><br />
        <p style='font-weight: bold;'>¿Cuál es el fundamento para el tratamiento de datos personales?</p>
        <p>Derechos ARCO</p><br />
        <p style='font-weight: bold;'>¿Dónde puedo ejercer mis derechos ARCO?</p>
        <p>Usted podrá presentar su solicitud para el ejercicio de los derechos de acceso, rectificación, cancelación u
            oposición de sus datos personales (derechos ARCO) directamente ante nuestra Unidad de Transparencia, cuyos
            datos de contacto son los siguientes: </p>
        <p>a) Nombre de su titular: Rubí Alvarado Victorio</p>
        <p>b) Domicilio: oriente n50, Colonia centro, Huejutla, Huejutla, CP. 43000, Hidalgo, Mexico</p>
        <p>c) Correo electrónico: sportstore96@gmail.com</p>
        <p>d) Número telefónico y extensión: 789 896 2323</p>
        <p>e) Otro dato de contacto: </p>
        <p><br />Asimismo, usted podrá presentar una solicitud de ejercicio de derechos ARCO a través de la Plataforma
            Nacional de Transparencia, disponible en <a href='http://www.plataformadetransparencia.org.mx'
                target='_blank'>http://www.plataformadetransparencia.org.mx</a>, y a través de los siguientes medios:
        <p>Por medio del correo electronico de atención al cliente: sportstore96@gmail.com</p>
        <p>Si desea conocer el procedimiento para el ejercicio de estos derechos, puede acudir a la Unidad de
            Transparencia, o bien, ponemos a su disposición los siguientes medios: </p>
        <p>Contactando al correo de atención al cliente sportstore96@gmail.com y solicitando la información
            correspondiente</p><br />
        <p style='font-weight: bold;'>¿Cómo puede conocer los cambios en este aviso de privacidad?</p>
        <p>El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos
            requerimientos legales o por otras causas. </p>
        <p>Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad,
            a través de: Haciendo llegar un correo electrónico a los usuarios registrados por parte de
            sportstore96@gmail.com, mencionando los cambios realizados</p><br /><br />
        <p style='text-align: right;'>Última actualización: 06/06/2023</p>

    </div>
</div>