<div class="container justify-content-md-center">
    <div class="m-4 py-5">
        <p class="h4 text-center fw-bold">Misión</p>
        <p class="fw-light text-center">Ofrecer a nuestros clientes productos de calidad a precios cómodos que cumplan con sus
            necesidades y exigencias abarcando sus gustos de acuerdo a su estilo de ver y vivir la vida.</p>
    </div>
    <mat-divider></mat-divider>
    <div class="m-4 py-5">
        <p class="h4 text-center fw-bold">Visión</p>
        <p class="fw-light text-center">Ser una empresa reconocida en la venta de ropa artesanal. Lograr también extendernos y crear
            nuestras cadenas de almacenes, proporcionando cada día más un servicio de excelencia a nuestros clientes y
            que
            al mismo tiempo nos permitan competir en el mercado nacional con los mejores precios del mercado.</p>
    </div>
</div>