<!-- Footer -->
<footer class="text-lg-start bg-dark text-center text-white">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start py-4">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <p class="text-uppercase fw-bold mb-4">Sport Store</p>
          <p class="fw-light">
            Here you can use rows and columns to organize your footer content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <p class="text-uppercase fw-bold mb-4">Acerca de nosotros</p>
          <p>
            <a [routerLink]="['/home/mision-vision']" class="text-reset">Misión y visión</a>
          </p>
          <p>
            <a [routerLink]="['/home/aviso-privacidad']" class="text-reset">Aviso de privacidad</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <p class="text-uppercase fw-bold mb-4">Contáctanos</p>
          <p>
            <a [routerLink]="['/home/preguntas-frecuentes']" class="text-reset">Preguntas frecuentes</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <!-- <p class="text-uppercase fw-bold mb-4">Contáctanos</p> -->
          <mat-list role="list">
            <mat-list-item role="listitem" class="text-white fw-light"
              ><mat-icon class="mx-2">home</mat-icon>Huejutla de Reyes, Hidalgo 43000</mat-list-item
            >
            <mat-list-item role="listitem" class="text-white fw-light"
              ><mat-icon class="mx-2">phone</mat-icon>+ 01 234 567
              88</mat-list-item
            >
            <mat-list-item role="listitem" class="text-white fw-light"
              ><mat-icon class="mx-2">mail</mat-icon
              >sportstore@gmail.com</mat-list-item
            >
          </mat-list>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2023 Copyright:
    <span class="text-reset fw-bold">SPORT STORE</span>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
